<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.savecrashinfo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:name="com.example.savecrashinfo.CrashApplication"
        android:icon="@drawable/ic_launcher"
        android:label="SaveCrashInfo"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.example.savecrashinfo.MainActivity"
            android:label="异常捕获" 
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>